<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">



<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>zumehServlet</servlet-name>
		<servlet-class>com.es.zumeh.server.facade.ZumehServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>zumehServlet</servlet-name>
		<url-pattern>/zumeh/zumeh</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Zumeh.html</welcome-file>
	</welcome-file-list>

</web-app>
